<%- include('includes/loggedInNav') %>

<div class="container" id="home">
 

  <%- include('includes/flashalerts') %>

  <section class="jumbotron text-center">
    <h2 class="display-4">Brookdale Book Exchange</h2>
    <br><br>
      <h3 class="jumbotron-heading">Hi, <strong><%= user.fname %>!</strong></h3>
      <p class="lead text-muted">What would you like to do?</p>
      <p>
        <form action="/search" method="GET">
          <button type="submit" class="btn btn-info my-2">Search for Books</button>
        </form>
        <form action="/add" method="GET">
          <button type="submit" class="btn btn-info my-2">Add a Book</button>
        </form>
        <form action="/profile/<%= user.email %>" method="GET">
          <button type="submit" class="btn btn-info my-2">View My Books</button>
        </form>
      </p>
    </div>
  </section>


 
  <!-- <p class="lead">Books Currently Available</p>
  <div id="booksAvail">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ISBN</th>
          <th scope="col">Title</th>
          <th scope="col">Author</th>
          <th scope="col">Subject</th>
          <th scope="col">Course</th>
          <th scope="col">Find Now</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>title</td>
          <td>author</td>
          <td>subject</td>
          <td>course</td>
          <td><button class="btn btn-outline-info" type="submit">Find</button></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>title</td>
          <td>author</td>
          <td>subject</td>
          <td>course</td>
          <td><button class="btn btn-outline-info" type="submit">Find</button></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>title</td>
          <td>author</td>
          <td>subject</td>
          <td>course</td>
          <td><button class="btn btn-outline-info" type="submit">Find</button></td>
        </tr>
      </tbody>
    </table>
  </div> -->
</div>
</body>
</html>