<%- include('includes/loggedOutNav') %>

    <div id="background">
      <div class="container" id="landing">
        <h1 class="display-4">Brookdale Book Exchange</h1>
        <br />
        <p class="lead">Find the books you need from your peers</p>
        <br />
        <a href="/register">
          <button type="button" class="btn btn-outline-info btn-lrg">
            Register
          </button></a
        ><br />
        <a href="/login"
          ><button type="button" class="btn btn-outline-info btn-lrg">
            Login
          </button></a
        >
      </div>
    </div>
  </body>
</html>
