<%- include('includes/loggedOutNav') %>

    <div id="background">
      <div class="container" id="landing">
        <h1 class="display-3">Brookdale Book Exchange</h1>
        <br />
        <h2 class = "lead">Find the books you need from your peers</h2>
        <br />
        <a href="/register">
          <button type="button" class="btn btn-light btn-lrg">
            Register
          </button></a
        ><br />
        <a href="/login"
          ><button type="button" class="btn btn-light btn-lrg">
            Login
          </button></a
        >
    </div>
    </div>
  </body>
</html>
