<%- include('includes/loggedInNav') %>

    <div class="container" id="mybooks">
      <p class="display-4">My Books</p>
      <form action="/add" method="GET">
        <button type="submit" class="btn btn-info">Add a Book</button>
      </form>
      <br /><br />
      <p class="lead">Your Current Inventory</p>
      <div id="booksAvail">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">ISBN</th>
              <th scope="col">Title</th>
              <th scope="col">Author</th>
              <th scope="col">Subject</th>
              <th scope="col">Course</th>
              <th scole="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>title</td>
              <td>author</td>
              <td>subject</td>
              <td>course</td>
              <td>
                <form action="#">
                  <input type="checkbox" name="deleteFunct" />
                </form>
              </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>title</td>
              <td>author</td>
              <td>subject</td>
              <td>course</td>
              <td>
                <form action="#">
                  <input type="checkbox" name="deleteFunct" />
                </form>
              </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>title</td>
              <td>author</td>
              <td>subject</td>
              <td>course</td>
              <td>
                <form action="#">
                  <input type="checkbox" name="deleteFunct" />
                </form>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
