<%- include('includes/loggedOutNav') %>

    <div class="container" id="register">
      <p class="display-4">Register</p>
      <% regErrors.forEach(function(message) { %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
      <% }) %>
      <form action="/registerFunction" method="POST" id="registration-form">
        <div class="form-group">
          <label for="fname-register" class="text-muted mb-1"
            ><small>First Name</small></label
          >
          <input
            name="fname"
            id="fname-register"
            class="form-control"
            type="text"
            placeholder="First Name"
            autocomplete="off"
          />
        </div>
        <div class="form-group">
          <label for="lname-register" class="text-muted mb-1"
            ><small>Last Name</small></label
          >
          <input
            name="lname"
            id="lname-register"
            class="form-control"
            type="text"
            placeholder="Last Name"
            autocomplete="off"
          />
        </div>

        <div class="form-group">
          <label for="email-register" class="text-muted mb-1"
            ><small>Email</small></label
          >
          <input
            name="email"
            id="email-register"
            class="form-control"
            type="text"
            placeholder="you@my.brookdalecc.edu"
            autocomplete="off"
          />
        </div>

        <div class="form-group">
          <label for="password-register" class="text-muted mb-1"
            ><small>Password</small></label
          >
          <input
            name="password"
            id="password-register"
            class="form-control"
            type="password"
            placeholder="Create a password"
          />
        </div>

        <button type="submit" class="btn btn-info">
          Register
        </button>
      </form>
      <br>
      <p>Already have an account? <a href="login">Log in here.</a></p>
    </div>
  </body>
</html>
