<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href="../favicon.ico" />
    <link rel="stylesheet" href="styles.css" />

    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <!-- Fontawesome -->
    <script
      src="https://kit.fontawesome.com/fa1738c9d8.js"
      crossorigin="anonymous"
    ></script>

    <title>Brookdale Book Exchange</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/"><i class="fas fa-home"></i></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <form action="/search" method="GET">
            <button class="btn btn-dark">Search</button>
          </form>
          <form action="/mybooks" method="GET">
            <button class="btn btn-dark">My Books</button>
          </form>
          <form action="/logout" method="POST">
            <button class="btn btn-dark">Logout</button>
          </form>
        </div>
      </div>
    </nav>

    <div class="container" id="add">
      <p class="display-4">Search for Books</p>
      <form action="/searchFunction" method="GET" id="search-book-form">
        <div class="form-group">
          <label for="isbn" class="text-muted mb-1"><small>ISBN</small></label>
          <input
            name="isbn"
            id="isbn"
            class="form-control"
            type="text"
            placeholder="ISBN"
            autocomplete="off"
          />
        </div>
        <div class="form-group">
          <label for="title" class="text-muted mb-1"
            ><small>Title</small></label
          >
          <input
            name="title"
            id="title"
            class="form-control"
            type="text"
            placeholder="Title"
            autocomplete="off"
          />
        </div>

        <div class="form-group">
          <label for="author" class="text-muted mb-1"
            ><small>Author</small></label
          >
          <input
            name="author"
            id="author"
            class="form-control"
            type="text"
            placeholder="Author"
            autocomplete="off"
          />
        </div>

        <div class="form-group">
          <label for="subject" class="text-muted mb-1"
            ><small>Subject</small></label
          >

          <select class="form-control">
            <option value=""></option>
          </select>
        </div>
        <div class="form-group">
          <label for="course" class="text-muted mb-1"
            ><small>Course</small></label
          >
          <input
            name="course"
            id="course"
            class="form-control"
            type="text"
            placeholder="Course"
          />
        </div>

        <button type="submit" class="btn btn-info">
          Search Books
        </button>
      </form>
    </div>
  </body>
</html>
