<%- include('includes/loggedInNav') %>

    <div class="container" id="searchResultspage">
      <p class="display-4">Search for Books</p>
      <p class="lead">Search Results</p>
      <div id="searchResults">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">ISBN</th>
              <th scope="col">Title</th>
              <th scope="col">Author</th>
              <th scope="col">Subject</th>
              <th scope="col">Course</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>title</td>
              <td>author</td>
              <td>subject</td>
              <td>course</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>title</td>
              <td>author</td>
              <td>subject</td>
              <td>course</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>title</td>
              <td>author</td>
              <td>subject</td>
              <td>course</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>