<% errors.forEach(function(message) { %>
<div class="alert alert-danger">
  <%= message %>
</div>
<% }) %> <% success.forEach(function(message) { %>
<div class="alert alert-success">
  <%= message %>
</div>
<% }) %>
