<select class="form-control" name="subject" id="subject"
  ><option value=""></option
  ><option value="ACAD">ACAD - Academic Skills Workshops</option
  ><option value="ACCT">ACCT - Accounting</option
  ><option value="AMSL">AMSL - American Sign Language</option
  ><option value="ANTH">ANTH - Anthropology</option
  ><option value="ARAB">ARAB - Arabic</option
  ><option value="ARCH">ARCH - Architecture</option
  ><option value="ARTC">ARTC - Computer Arts</option
  ><option value="ARTH">ARTH - Art History</option
  ><option value="ARTS">ARTS - Studio Arts</option
  ><option value="AUTO">AUTO - Automotive</option
  ><option value="BIOL">BIOL - Biology</option
  ><option value="BUSI">BUSI - Business</option
  ><option value="CADD">CADD - Computer Aided Drafting/Design</option
  ><option value="CHEM">CHEM - Chemistry</option
  ><option value="CHNS">CHNS - Chinese</option
  ><option value="CINE">CINE - Cinematography</option
  ><option value="COMM">COMM - Communication Media</option
  ><option value="COMP">COMP - Computer Science</option
  ><option value="CRJU">CRJU - Criminal Justice</option
  ><option value="CSSC">CSSC - College Success Seminar</option
  ><option value="CULA">CULA - Culinary Arts</option
  ><option value="DANC">DANC - Dance</option
  ><option value="DGMD">DGMD - Digital Media</option
  ><option value="DIGM">DIGM - Digital Animation &amp; 3D Design</option
  ><option value="DRFT">DRFT - Drafting &amp; Design</option
  ><option value="ECHS">ECHS - Early College High School</option
  ><option value="ECON">ECON - Economics</option
  ><option value="EDEC">EDEC - Early Childhood Education</option
  ><option value="EDUA">EDUA - Education Aide</option
  ><option value="EDUC">EDUC - Education</option
  ><option value="ELEC">ELEC - Electronics</option
  ><option value="ENGI">ENGI - Engineering</option
  ><option value="ENGL">ENGL - English</option
  ><option value="ENVR">ENVR - Environmental Science</option
  ><option value="EOF">EOF - Educational Opportunity Fund</option
  ><option value="ESL">ESL - English As a Second Language</option
  ><option value="FASH">FASH - Fashion Merchandising</option
  ><option value="FINC">FINC - Finance</option
  ><option value="FITN">FITN - Fitness &amp; Recreation</option
  ><option value="FRCH">FRCH - French</option
  ><option value="GAME">GAME - Game Design</option
  ><option value="GEOG">GEOG - Geography</option
  ><option value="GRMN">GRMN - German</option
  ><option value="GRPH">GRPH - Graphics</option
  ><option value="HESC">HESC - Health Science</option
  ><option value="HIST">HIST - History</option
  ><option value="HITC">HITC - Health Information Technology</option
  ><option value="HONR">HONR - Honors</option
  ><option value="HOSP">HOSP - Hospitality Management</option
  ><option value="HUDV">HUDV - Human Development</option
  ><option value="HUMN">HUMN - Humanities</option
  ><option value="INTD">INTD - Interior Design</option
  ><option value="ITAL">ITAL - Italian</option
  ><option value="JOUR">JOUR - Journalism</option
  ><option value="JPNS">JPNS - Japanese</option
  ><option value="LANG">LANG - Modern Language</option
  ><option value="MATH">MATH - Mathematics</option
  ><option value="MDLT">MDLT - Medical Laboratory Technology</option
  ><option value="MRKT">MRKT - Marketing</option
  ><option value="MUSI">MUSI - Music</option
  ><option value="MUTC">MUTC - Music Technology</option
  ><option value="NETW">NETW - Networking</option
  ><option value="NURS">NURS - Nursing</option
  ><option value="PBHL">PBHL - Public Health</option
  ><option value="PHIL">PHIL - Philosophy</option
  ><option value="PHTY">PHTY - Photography</option
  ><option value="PHYS">PHYS - Physics</option
  ><option value="PLGL">PLGL - Paralegal</option
  ><option value="POLI">POLI - Political Science</option
  ><option value="PORT">PORT - Portuguese</option
  ><option value="PSYC">PSYC - Psychology</option
  ><option value="RADT">RADT - Radiologic Technology</option
  ><option value="RDIO">RDIO - Radio</option
  ><option value="READ">READ - Reading</option
  ><option value="RESP">RESP - Respiratory Therapy</option
  ><option value="RUSS">RUSS - Russian</option
  ><option value="SOCI">SOCI - Sociology</option
  ><option value="SOSC">SOSC - Social Science</option
  ><option value="SPAN">SPAN - Spanish</option
  ><option value="SPCH">SPCH - Speech</option
  ><option value="TELV">TELV - Television</option
  ><option value="THTR">THTR - Theater</option
  ><option value="UTIL">UTIL - Utility Technology</option>
</select>
