#landing {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  height: 100vh;
  color: #ffffff;
}

#background {
  background: url(img/booksbkg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
